# =========================
# Visual Studio files
# =========================
.vs/

# =========================
# ASP.NET Core build output
# =========================
WebApp/bin/
WebApp/obj/

# =========================
# User-specific files
# =========================
*.user
*.suo
*.userosscache
*.sln.docstates

# =========================
# Logs
# =========================
*.log
